@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.title-update-appointment {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}
.title-update-appointment h1 {
  font-weight: 300;
}
.update-appointment-message {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
}
.update-appointment-message h1 {
  font-weight: 300;
}
