@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");

.title-add-doctor {
  display: flex;
  justify-content: center;
  color: white;
  font-family: "Raleway", sans-serif;
}
.btn-create button {
  color: #e49660;
  border: 1px solid #e49660;
}
