@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
.appointments-message {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.title-appointments-available {
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}
.title-appointments-available h1 {
  font-weight: 300;
}
.subtitle-specialty {
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.appointments-available {
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  text-align: center;
}
.appointment-status {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.appointment-status strong {
  font-weight: 600;
}
.appointment-date {
  font-family: "Raleway", sans-serif;
  font-weight: 300;
}
.appointment-date strong {
  font-weight: 600;
}
