@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap");
.title-see-appointments-by-doctor {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
  text-decoration: underline;
}
.title-see-appointments-by-doctor h1 {
  font-weight: 300;
}
.appointments-by-doctor {
  display: grid;
  grid-template-columns: repeat(4, 25%);
  color: white;
  text-align: center;
  font-family: "Raleway", sans-serif;
}
.information-doctor h1 {
  font-weight: 300;
}
.information-appointment h1 {
  font-weight: 300;
}
.information-patient h1 {
  font-weight: 300;
}
.see-appointments-by-doctor-message {
  text-align: center;
  color: white;
  font-family: "Raleway", sans-serif;
}
